* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  opacity: 95%;
}

.iconos {
  margin-top: 10%;
}

.list-unstyled a {
  text-decoration: none;
}

.formulario {
  width: 800px;
  padding: 30px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 100px;
  border-radius: 4px;
}

.head_fondo img {
  width: 100%;
  background-size: cover;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 6% 0;
}

.contenedor .subtitulo, .contenedor .subtitulo-productos, .contenedor .subtitulo-contacto {
  padding-bottom: 2%;
  text-align: center;
  font-weight: 300;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor .contenedor-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor .contenedor-nosotros img {
  width: 40%;
}

.contenedor .checklist-nosotros {
  width: 45%;
}

.contenedor .nostros {
  margin-bottom: 20px;
}

.contenedor .n-nosotros {
  margin-bottom: 7px;
  color: #9f8ad0;
}

.contenedor .number {
  display: inline-block;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c0ee));
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%);
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}

.main_pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  padding-bottom: 2%;
  padding-left: 5%;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.main_pr .contenedor-productos {
  background: #f2f2f2;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
}

.main_pr .contenedor-productos .galeria_pr {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}

.main_pr .contenedor-productos .galeria_pr:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main_pt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  padding-bottom: 2%;
  padding-left: 5%;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

.main_pt .titulo_pt {
  color: #9f8ad0;
  font-size: 300%;
}

.main_pt .subtitulo_pt {
  color: red;
  font-size: 150%;
}

.subtitulo-nosotros {
  padding-bottom: 2%;
  text-align: center;
  font-weight: 300;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
}

.box {
  width: 95%;
  max-width: 1500px;
  overflow: hidden;
  margin: auto;
  padding: 6% 0;
}

.box .video {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding: 5%;
  gap: 30px;
}

.box .descripcion-video {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titulo-contacto {
  margin-top: 100px;
}

@media (max-width: 952px) {
  .video {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedor-nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .new_home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formulario {
    width: 400px;
  }
}
/*# sourceMappingURL=styles.css.map */