@import "mapcolores";
@import "page";

.navbar{
    padding-left: 10%;
    padding-right: 10%;
    opacity: 95%;
}
.iconos{
    margin-top: 10%;
}

@media (max-width: 952px){
    .video{
        flex-wrap: wrap;
    }
    .contenedor-nosotros{
        flex-direction: column;
        gap: 40px;
    }
    .new_home{
        flex-direction: column;
    }
   
}
@mixin main {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding-bottom: 2%;
    padding-left: 5%;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}
.head_fondo img{
    width: 100%;
    background-size: cover;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 6% 0;

    .subtitulo{
        padding-bottom: 6%;
        text-align: center;
        font-weight: 300;
        color: map-get($map: $colores, $key: principal);
        margin-bottom: 40px;
        font-size: 40px;
    }

    .contenedor-nosotros{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        & img{
            width: 40%;
        }
    }
    
    .checklist-nosotros{
        width: 45%;
    }
    .nostros{
        margin-bottom: 20px;
    }
    .n-nosotros{
        margin-bottom: 7px;
        color: map-get($map: $colores, $key: principal);
    }
    .number{
        display: inline-block;
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c0ee 100%);
        width: 30px;
        height: 30px;
        color: map-get($map: $colores, $key: texto-contacto);
        text-align: center;
        border-radius: 50%;
        font-weight: 700;
        line-height: 30px;
        margin-right: 5px;
    }
}

.main_pr{
    @include main;

    .contenedor-productos{
        background: map-get($map: $colores, $key: fondo);
        padding: 5%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 100px;
    
        .galeria_pr{
            transition: all 300ms;
            cursor: pointer;
    
            &:hover{
                transform: scale(1.2);
            }
        }
        
    }
    
}
.subtitulo-productos{
    @extend .subtitulo;
}

.main_pt{
    @include main;


    .titulo_pt{
        color: map-get($map: $colores, $key: principal);
        font-size: 300%;
    }
    .subtitulo_pt{
        color: map-get($map: $colores, $key: secundario);
        font-size: 150%;
    }
}

.box{
    width: 95%;
    max-width: 1500px;
    overflow: hidden;
    margin: auto;
    padding: 6% 0;

    .video{
        background: map-get($map: $colores, $key: fondo);
        display: flex;
        margin-top: 100px;
        padding: 5%;
        gap: 30px;
    }
    .descripcion-video{
        flex-direction: column;
    }
}
.titulo-contacto{
    margin-top: 100px;
}

.formulario{
    width: 400px;
    background: map-get($map: $colores, $key: fondo-formulario);
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    border-radius: 4px;
    color: map-get($map: $colores, $key: texto-contacto);
    box-shadow: 7px 13px 37px #000;

    .controles{
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid map-get($map: $colores, $key: secundario);
    }
    & a{
        color: map-get($map: $colores, $key: texto-contacto);
    }
    & .botones{
        width: 100%;
        background: map-get($map: $colores, $key: secundario);
        border: none;
        padding: 12px;
        color: map-get($map: $colores, $key: texto-contacto);
        margin: 16px 0;
        font-size: 16px;
    }
    .archivo{
        padding-top: 20px;
    }
    .terminos{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.footer{
    padding-top: 5%;
}
